.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.collage-wrapper {
  width: 100vw;
  height: 120vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.collage-info-left {
  position: absolute;
  top: 10vw;
  left: 10vw;
  color:white;
  font-family: 'Abel';
  text-align: left;
  mix-blend-mode: difference;
  border-left: 1px solid white;
  padding: 1em;
}

.collage-info-right {
  position: absolute;
  top: 10vw;
  right: 10vw;
  color:white;
  font-family: 'Abel';
  text-align: left;
  mix-blend-mode: difference;
  border-left: 1px solid white;
  padding: 1em;
}

.collage {
  height: 80vmin;
  -webkit-box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.54);
box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.54);

}

.intro {
  font-family: 'Wire One';
  font-size: 10vh;
  position: relative;
  bottom: 10vh;
}

.intro .scroll {
  font-size: 5vh;
  animation: goDown 2s infinite;
  display: overlay;
}


@keyframes goDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0.3;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: left;
  width: 90vw;
  margin-bottom: 10px;
  margin-left: 2vw;
  font-family: 'Wire One';
  mix-blend-mode: difference;
  color: white;
  font-size: 7vh;
  font-weight: 200;
}

.pages {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 2vw;
  font-family: 'Wire One';
  mix-blend-mode: difference;
  color: white;
  font-size: 5vh;
  font-weight: 500;
}

.currentPage {
  position: relative;
  bottom: 10px;
}

.totalPages {
  position: relative;
  top: 10px;
  left: 5px;
}

.filters {
  position: fixed;
  bottom: 0;
  text-align: left;
  margin-bottom: 100px;
  margin-left: 2vw;
  font-family: 'Wire One';
  mix-blend-mode: difference;
  color: white;
  font-size: 5vh;
  font-weight: 200;
}

.socialMedia .icon {
  margin-right: 1vw;
}

.filter {
  display: block;
  cursor: pointer;
}

.filter.selected::before{
  content: '';
  display: inline-block;
  position: relative;
  margin-right : 5px;
  top: -10px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}

.filter:hover{
  letter-spacing: 3vw;
  transition: all 1s ease;
}


@keyframes hueShift {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.link {
  text-decoration: none;
  color: white;
  font-size: calc(2vmin + 4px);
}